<p>4 courses open for registration</p>

<div class="courses">
    <div class="card">
        <h6>Title</h6>
        <p>Instructor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dignissimos numquam ducimus reprehenderit
            natus aut et unde sint voluptas praesentium, dolore, laboriosam enim. Ea cumque quasi quis consectetur
            debitis! Molestiae?</p>
    </div>
    <div class="card">
        <h6>Title</h6>
        <p>Instructor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dignissimos numquam ducimus reprehenderit
            natus aut et unde sint voluptas praesentium, dolore, laboriosam enim. Ea cumque quasi quis consectetur
            debitis! Molestiae?</p>
    </div>
    <div class="card">
        <h6>Title</h6>
        <p>Instructor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dignissimos numquam ducimus reprehenderit
            natus aut et unde sint voluptas praesentium, dolore, laboriosam enim. Ea cumque quasi quis consectetur
            debitis! Molestiae?</p>
    </div>
    <div class="card">
        <h6>Title</h6>
        <p>Instructor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dignissimos numquam ducimus reprehenderit
            natus aut et unde sint voluptas praesentium, dolore, laboriosam enim. Ea cumque quasi quis consectetur
            debitis! Molestiae?</p>
    </div>
</div>