<!-- To display total course count for registration -->
<p>{{coursesList?.length || '0'}} courses open for registration</p>

{{category}}  {{keyword}}
<div class="courses">
    <!-- Itrating over courses list dynamically -->
    <div class="card" *ngFor="let course of coursesList">
        <h5>{{course?.title}}</h5>
        <h6>{{course.instructor}}</h6>
        <p>
            {{course.description}}
        </p>
        <p>
        <h6>{{course?.timeline?.status}}</h6>
        <h6>{{course?.timeline?.start_end_date}}</h6>
        <h6>{{course?.timeline?.duration}}</h6>
    </div>
</div>